/.astro/
/frontend/.astro/
/node_modules/
/frontend/node_modules/
npm-debug.log*
/.astro-dev-*.log
/frontend/.astro-dev-*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store
.idea/
/dist
/public/*.iso
/public/*.img
/frontend/public/*.iso
/frontend/public/*.img
