@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  width: 3ch;
  margin-right: 1rem;
  text-align: right;
  color: rgba(115,138,148,.4);
  flex-shrink: 0;
}

.line.highlight {
  display: inline-block;
  width: 100%;
  background-color: rgba(255,255,255,0.08);
  line-height: inherit;
}

pre, code {
  white-space: pre-wrap;
  word-break: break-word;
}